# default configuration for services in *this* file
services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    Nyholm\Psr7\:
        resource: '../../vendor/nyholm/psr7/src/*'

    #~ PSR-17 Factories
    response_factory:
        alias: Nyholm\Psr7\Factory\Psr17Factory
        public: true

    request_factory:
        alias: Nyholm\Psr7\Factory\Psr17Factory
        public: true

    server_request_factory:
        alias: Nyholm\Psr7\Factory\Psr17Factory
        public: true

    stream_factory:
        alias: Nyholm\Psr7\Factory\Psr17Factory
        public: true

    uri_factory:
        alias: Nyholm\Psr7\Factory\Psr17Factory
        public: true

    #~ PSR
    Psr\Log\:
        resource: '../../vendor/psr/log/Psr/Log/*'
        exclude: '../../vendor/psr/log/Psr/Log/{Test}'
        public: false

    Eureka\Component\Http\:
        resource: '../../vendor/eureka/component-http/src/*'

    Psr\Cache\CacheItemPoolInterface:
        alias: Symfony\Component\Cache\Adapter\ArrayAdapter

    Symfony\Component\Cache\Adapter\ArrayAdapter: ~