includes:
  - ./vendor/phpstan/phpstan-phpunit/extension.neon
  - ./vendor/phpstan/phpstan-phpunit/rules.neon
  - ./vendor/phpstan/phpstan-strict-rules/rules.neon
  - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
  #~ Global conf
  phpVersion: 80100
  level: max
  paths:
    - ./src
    - ./tests

  bootstrapFiles:
    - ./vendor/autoload.php

  #~ Rules
  treatPhpDocTypesAsCertain: false
  checkAlwaysTrueInstanceof: false
  strictRules:
    noVariableVariables: false

  #~ Errors
  ignoreErrors:
    - '`Construct empty\(\) is not allowed. Use more strict comparison.`' # Globally used in conscientious way
    - message: '`Call to (static )?method PHPUnit\\Framework\\Assert::assert.+ will always evaluate to true`'
      path:    ./tests/unit/
    - message: '`Strict comparison using === between array and false will always evaluate to false`'
      path:    ./src/Application/Application.php
